.sentence {
    color: #222;
    font-size: 30px;
}
.wrapper {
    background-color: #f5f5f5;
    font-family: "Raleway", sans-serif;
    margin: 100px auto;
    padding: 40px 40px;
    position: relative;
    width: 70%;
}

.staticBlock {
    padding-left: 220px;
}

.leftWords {
    display: inline;
    text-indent: 8px;

    span {
        width: 210px;
        text-align: right;

        color: #00abe9;
        overflow: hidden;
        position: absolute;
    }
}

.rightWords {
    display: inline;
    text-indent: 8px;

    span {
        width: 500px;
        
        color: #00abe9;
        overflow: hidden;
        position: absolute;
    }
}

.hero_fadeOut {
    opacity: 0;
    transition: opacity 1s;
}

.hero_hideLeft {
    opacity: 1;
    translate: -1000px;
}

.hero_hideRight {
    opacity: 1;
    translate: 1000px;
}

.hero_slide {
    translate: 0;
    transition: translate 2s;
}
